
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.vsmdi
*.msi
*.tmp
*.setup
log/
cassette/
[Bb]in
[Dd]ebug*/
[Dd]EBUG_SERVICO*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*

*.resharper
*.ReSharper
[Dd]eploy*/
source/[Dd]oc/ChangeLog.md
.vs/


!solutions/Agente/NFCePack.Agente/docs/
solutions/Agente/NFCePack.Agente/docs/_build


#arquivos do projeto em C
*.sdf
*.opensdf

!tools/DbDeploy/*.exe
build/migrator/NfePackDataAccess.dll
solutions/NFePack.ArquivoMorto/source/app/ArquivoMorto.Service/Projetos/ArquivoMorto.Dados.NFePack.dll
solutions/NFePack.ArquivoMorto/source/app/ArquivoMorto.Service/Projetos/ArquivoMorto.Dominio.NFePack.dll
solutions/NFePack.ArquivoMorto/source/app/ArquivoMorto.Service/Projetos/ArquivoMorto.IOC.NFePack.dll
solutions/NFePack.ArquivoMorto/source/app/ArquivoMorto.Service/Projetos/NfePackDataAccess.dll
NFePack.7z
solutions/Agente/Artefatos/libnfcepack/nfcepack_agente.opensdf
solutions/Agente/Artefatos/libnfcepack/commons.o
solutions/Agente/Artefatos/libnfcepack/dllmain.o
solutions/Agente/Artefatos/libnfcepack/nfe_integracao.o
solutions/Agente/Artefatos/libnfcepack/dllmain.o
solutions/Agente/Artefatos/libnfcepack/dllmain.o
solutions/Agente/Artefatos/libnfcepack/libnfcepack_agente.a
solutions/Agente/Artefatos/libnfcepack/nfcepack_agente.sdf
solutions/Agente/Artefatos/libnfcepack/nfcepack_agente.sdf
solutions/Agente/Artefatos/libnfcepack/dllmain.o
solutions/Agente/Artefatos/libnfcepack/libnfcepack_agente.a
solutions/Agente/Artefatos/libnfcepack/nfcepack_agente.dll
solutions/Agente/Artefatos/libnfcepack/libnfcepack_agente.a
solutions/Agente/Artefatos/libnfcepack/nfce_integracao.o
solutions/Agente/Artefatos/libnfcepack/nfcepack_agente.dll
solutions/Agente/Artefatos/libnfcepack/nfcepack_agente.vs.sdf
solutions/Agente/Artefatos/libnfcepack/sunsys-dox/projects/libnfcepack/html
solutions/Agente/Artefatos/libnfcepack/sunsys-dox/projects/libnfcepack/xml
solutions/Agente/Artefatos/libnfcepack/sunsys-dox/projects/libnfcepack.ROMERA/html
solutions/Agente/Artefatos/libnfcepack/sunsys-dox/projects/libnfcepack.ROMERA/xml
!NFePack.ExtratorXML.Log
#NFePack.All
solutions/packages
.idea
*.dlq
**/packages/*
_temp*
source/build/
*.sublime-workspace
paket-files/
__pycache__/
solutions/Agente/NFCePack.Agente/docs/download/
/.paket/Paket.Restore.targets
solutions/NFePack.Monitor/source/app/NFePack.Monitor.Web/Cert/
solutions/Agente/NFCePack.Agente/docs/Changelog.md
solutions/Agente/NFCePack.Agente/docs_en/integracaows/download/
solutions/Agente/NFCePack.Agente/docs/integracaows/download/
*.mo
solutions/Agente/NFCePack.Agente/docs/gettext/.doctrees/
solutions/Agente/NFCePack.Agente/docs/Changelog.md_temp
source/doc/Changelog.md_temp
source/doc/nfe40/integracao/camposnovos400.rst
source/doc/integracao/depara.rst
source/doc/ConceitosDeIntegracao/txtcampos.rst
/NFePackMonitor
/NFePackService
/NFePackWebApp

NuGet.Config
/build/temp

